flows_raspberrypi.json
[{"id":"9e19a209.787e1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e29b989b.4a7278","type":"ui_tab","z":"9e19a209.787e1","name":"Demonstrator","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1934391d.d16947","type":"ui_group","z":"9e19a209.787e1","name":"www","tab":"40e75338.aff6cc","order":1,"disp":false,"width":"8","collapse":false},{"id":"3af218e9.c71568","type":"ui_group","z":"9e19a209.787e1","name":"Default","tab":"40e75338.aff6cc","order":2,"disp":true,"width":"12","collapse":false},{"id":"6531ac8c.c614f4","type":"ui_group","z":"9e19a209.787e1","name":"Default","tab":"10932695.a9ce69","disp":true,"width":"6"},{"id":"9b5fe1f9.f9188","type":"ui_group","z":"9e19a209.787e1","name":"www","tab":"40e75338.aff6cc","order":1,"disp":false,"width":"8","collapse":false},{"id":"a616939d.d6ff4","type":"ui_group","z":"9e19a209.787e1","name":"Default","tab":"40e75338.aff6cc","order":2,"disp":true,"width":"12","collapse":false},{"id":"42b2ea0c.cfb3c4","type":"ui_group","z":"9e19a209.787e1","name":"Default","tab":"10932695.a9ce69","disp":true,"width":"6"},{"id":"96be60e5.21c77","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#4a0efe","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Volvo Demonstrator","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54830ee4.85277","type":"ui_group","z":"","name":"Poids","tab":"","disp":true,"width":"6","collapse":false},{"id":"81d22bb1.9a6428","type":"mqtt-broker","z":"","name":"Mosca broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e6fe2b9.89ee9d","type":"ui_group","z":"","name":"Station 1","tab":"e29b989b.4a7278","order":1,"disp":true,"width":"6","collapse":false},{"id":"393c8596.4ca5ca","type":"ui_group","z":"","name":"Station 2","tab":"e29b989b.4a7278","order":2,"disp":true,"width":"6","collapse":false},{"id":"54e758e8.137178","type":"ui_group","z":"","name":"Balance","tab":"e29b989b.4a7278","order":4,"disp":true,"width":"6","collapse":false},{"id":"c1a03f59.36096","type":"ui_group","z":"","name":"Init","tab":"e29b989b.4a7278","order":5,"disp":true,"width":"6","collapse":false},{"id":"c0e76e4b.8a3ca","type":"ui_tab","z":"","name":"Button Panel","icon":"dashboard"},{"id":"543d2aa1.bed744","type":"ui_group","z":"9e19a209.787e1","name":"Click","tab":"1bc2bc9a.8b22c3","order":1,"disp":true,"width":"5"},{"id":"1bc2bc9a.8b22c3","type":"ui_tab","z":"9e19a209.787e1","name":"Home","icon":"link","order":1},{"id":"21f9443b.fd9a7c","type":"ui_group","z":"","name":"Default","tab":"be015940.a81c08","order":3,"disp":true,"width":"6","collapse":false},{"id":"be015940.a81c08","type":"ui_tab","z":"9e19a209.787e1","name":"Home","icon":"link","order":1},{"id":"b5be4140.b3d52","type":"ui_group","z":"","name":"Group 2","tab":"8b7f7bda.d25708","order":3,"disp":true,"width":"6"},{"id":"c6f344d9.86b328","type":"ui_group","z":"","name":"Starter","tab":"8b7f7bda.d25708","order":4,"disp":true,"width":"2"},{"id":"bf924d99.ff50d","type":"ui_group","z":"","name":"Group 1","tab":"8b7f7bda.d25708","order":2,"disp":true,"width":"2"},{"id":"e9e96921.26d088","type":"ui_group","z":"","name":"Keypad","tab":"8b7f7bda.d25708","order":5,"disp":true,"width":"6"},{"id":"48b3780b.fed358","type":"ui_group","z":"","name":"Control Panel","tab":"8b7f7bda.d25708","order":1,"disp":true,"width":"8"},{"id":"8b7f7bda.d25708","type":"ui_tab","z":"","name":"Button Panel","icon":"dashboard"},{"id":"c8b6a220.149b3","type":"tesseract","z":"9e19a209.787e1","name":"OCR","language":"lets","x":410,"y":180,"wires":[["b7742293.7470b"]]},{"id":"b7742293.7470b","type":"debug","z":"9e19a209.787e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":180,"wires":[]},{"id":"a1b2cadb.439888","type":"function","z":"9e19a209.787e1","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":680,"wires":[[]]},{"id":"7bc7c03e.bc4f5","type":"csv","z":"9e19a209.787e1","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":670,"y":560,"wires":[["a1b2cadb.439888","73332ee4.5d6e","64e3683.2c80c98"]]},{"id":"bb01d371.598cb","type":"inject","z":"9e19a209.787e1","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":false,"x":180,"y":560,"wires":[["4bc4b46a.8d661c"]]},{"id":"73332ee4.5d6e","type":"debug","z":"9e19a209.787e1","name":"msg.payload.latitude","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.latitude","targetType":"msg","x":996.9999198913574,"y":559.0000305175781,"wires":[]},{"id":"64e3683.2c80c98","type":"debug","z":"9e19a209.787e1","name":"payload.longitude","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.longitude","targetType":"msg","x":978.0719757080078,"y":620.3371806144714,"wires":[]},{"id":"4bc4b46a.8d661c","type":"file in","z":"9e19a209.787e1","name":"C:\\Users\\Marc\\2.8_day.csv","filename":"C:\\Users\\Marc\\2.8_day.csv","format":"lines","chunk":false,"sendError":false,"encoding":"ascii","x":460,"y":560,"wires":[["7bc7c03e.bc4f5"]]},{"id":"bdb2dd31.b3408","type":"ui_text","z":"9e19a209.787e1","group":"54e758e8.137178","order":2,"width":0,"height":0,"name":"","label":"Module weight:","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":800,"wires":[]},{"id":"d2250f9a.36c95","type":"inject","z":"9e19a209.787e1","name":"","topic":"","payload":"/home/pi/1.png","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["c8b6a220.149b3"]]},{"id":"c6e312b1.f43b7","type":"mqtt in","z":"9e19a209.787e1","name":"","topic":"temp","qos":"2","datatype":"auto","broker":"81d22bb1.9a6428","x":270,"y":740,"wires":[["db1f5cb2.f6ce2","bdb2dd31.b3408"]]},{"id":"db1f5cb2.f6ce2","type":"debug","z":"9e19a209.787e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":740,"wires":[]},{"id":"5d9ec06a.2477e","type":"PN532","z":"9e19a209.787e1","name":"pn532_i2c:/dev/i2c-1","sensorFunction":"read","delay":"2","x":210,"y":360,"wires":[["9c30e342.3b42b","9c576fa5.d4a37","ee410176.93578","d9e472c2.14ae9"]]},{"id":"9c30e342.3b42b","type":"debug","z":"9e19a209.787e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":360,"wires":[]},{"id":"b1f0c465.9098c8","type":"inject","z":"9e19a209.787e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["1ab493ca.58a03c","5d289335.9c4cec"]]},{"id":"1ab493ca.58a03c","type":"ui_text","z":"9e19a209.787e1","group":"c1a03f59.36096","order":2,"width":0,"height":0,"name":"","label":"Status code:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":260,"wires":[]},{"id":"9c576fa5.d4a37","type":"ui_text","z":"9e19a209.787e1","group":"1e6fe2b9.89ee9d","order":2,"width":0,"height":0,"name":"","label":"Module ID:","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":400,"wires":[]},{"id":"ee410176.93578","type":"ui_text","z":"9e19a209.787e1","group":"393c8596.4ca5ca","order":2,"width":0,"height":0,"name":"","label":"Casing ID:","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":440,"wires":[]},{"id":"b5ec038e.a7389","type":"ui_ui_control","z":"9e19a209.787e1","name":"","x":300,"y":480,"wires":[[]]},{"id":"9f33d8ed.e33c38","type":"inject","z":"9e19a209.787e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["b5ec038e.a7389"]]},{"id":"434f8365.432e1c","type":"ui_template","z":"9e19a209.787e1","group":"","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":490,"y":980,"wires":[[]]},{"id":"7644d3c4.7fee2c","type":"ui_template","z":"9e19a209.787e1","group":"","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":500,"y":1060,"wires":[[]]},{"id":"867c5bc4.b3eaa8","type":"ui_template","z":"9e19a209.787e1","group":"c1a03f59.36096","name":"","order":1,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Status<br/>\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":500,"y":1020,"wires":[["e8e69f4f.4b549"]]},{"id":"1719dfcf.2b46","type":"ui_template","z":"9e19a209.787e1","group":"","name":"on","order":7,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":1100,"wires":[[]]},{"id":"a39f8466.50f228","type":"ui_template","z":"9e19a209.787e1","group":"","name":"off","order":8,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":490,"y":1140,"wires":[[]]},{"id":"8eaaa674.caa4b8","type":"ui_template","z":"9e19a209.787e1","group":"54e758e8.137178","name":"stuff","order":3,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":940,"wires":[[]]},{"id":"e76cf8d9.200938","type":"ui_template","z":"9e19a209.787e1","group":"54e758e8.137178","name":"Start Weight Acquisition","order":1,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Go!'})\"> \n    Weight!\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":660,"wires":[["c0dd2580.3d79f8"]]},{"id":"e8e69f4f.4b549","type":"debug","z":"9e19a209.787e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1000,"wires":[]},{"id":"b048d868.45ced8","type":"ui_gauge","z":"9e19a209.787e1","name":"","group":"393c8596.4ca5ca","order":4,"width":0,"height":0,"gtype":"gage","title":"Time waiting Lid","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":800,"wires":[]},{"id":"5d289335.9c4cec","type":"debug","z":"9e19a209.787e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":320,"wires":[]},{"id":"a8e9d736.c24f28","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"available","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1675,"wires":[["1c64629d.1e878d"]]},{"id":"e75baacf.724b18","type":"inject","z":"9e19a209.787e1","name":"Station 1 - Module Trail","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":1620,"wires":[["3fe07dff.f44322"]]},{"id":"2721a6d2.00d7ea","type":"function","z":"9e19a209.787e1","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"x":155,"y":1720,"wires":[["a8e9d736.c24f28"],["3fe07dff.f44322"]]},{"id":"3fe07dff.f44322","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"empty","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1720,"wires":[["1c64629d.1e878d"]]},{"id":"ed9b94e4.d9f0f8","type":"inject","z":"9e19a209.787e1","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":150,"y":1840,"wires":[["f73d7ab5.bd6768"]]},{"id":"b0daf481.484a58","type":"delay","z":"9e19a209.787e1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":1885,"wires":[["16c47ca3.30de33"]]},{"id":"f73d7ab5.bd6768","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"label","pt":"msg","to":"click for on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1885,"wires":[[]]},{"id":"16c47ca3.30de33","type":"switch","z":"9e19a209.787e1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":1885,"wires":[["14d541eb.4398be"],["f73d7ab5.bd6768"]]},{"id":"14d541eb.4398be","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"label","pt":"msg","to":"now turn off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1840,"wires":[[]]},{"id":"c0dd2580.3d79f8","type":"mqtt out","z":"9e19a209.787e1","name":"","topic":"temp-acq","qos":"","retain":"","broker":"81d22bb1.9a6428","x":420,"y":660,"wires":[]},{"id":"1c64629d.1e878d","type":"ui_template","z":"9e19a209.787e1","group":"1e6fe2b9.89ee9d","name":"red#c0392b","order":1,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.colour}}\" ng-click=\"send({payload: 'Pressed'})\"> \n    Module<br/>trail<br/>{{msg.payload}}\n</md-button> \n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":530,"y":1760,"wires":[["2721a6d2.00d7ea"]]},{"id":"7dae39b5.bf7138","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"available","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2035,"wires":[["e0ac125.53a1df"]]},{"id":"70f7c802.273c78","type":"inject","z":"9e19a209.787e1","name":"Station 2 - Operator","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":1980,"wires":[["d13343d9.c9ec2"]]},{"id":"4d091a81.54d1e4","type":"function","z":"9e19a209.787e1","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"x":155,"y":2080,"wires":[["7dae39b5.bf7138"],["d13343d9.c9ec2"]]},{"id":"d13343d9.c9ec2","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"absent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2080,"wires":[["e0ac125.53a1df"]]},{"id":"e0ac125.53a1df","type":"ui_template","z":"9e19a209.787e1","group":"393c8596.4ca5ca","name":"red#c0392b","order":1,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.colour}}\" ng-click=\"send({payload: 'Pressed'})\"> \n    Operator<br/>{{msg.payload}}\n</md-button> \n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":530,"y":2120,"wires":[["4d091a81.54d1e4"]]},{"id":"d9e472c2.14ae9","type":"ui_text","z":"9e19a209.787e1","group":"393c8596.4ca5ca","order":3,"width":0,"height":0,"name":"","label":"Lid ID:","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":480,"wires":[]},{"id":"63e612ce.f7d12c","type":"ui_template","z":"9e19a209.787e1","group":"c6f344d9.86b328","name":"Red Starter","order":10,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#848688' : '#1A1A1A'}\">\n  <polygon stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n    </g>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#1A1A1A' : '#848688'}\">\n  <polygon  points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n    </g>\n    <g ng-style=\"{stroke: (msg.payload || 0) % 2 === 0 ? 'black' : '#E6E7E8'}\">\n  <line fill=\"none\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n    </g>\n\n  <circle fill=\"none\" stroke=\"red\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'red' : 'none'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">OFF</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : 'none'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">OFF</text>\n  </g>\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":1137.8333129882812,"y":3064.3334350585938,"wires":[["4132baba.081984"]]},{"id":"bee2c711.303818","type":"ui_template","z":"9e19a209.787e1","group":"c6f344d9.86b328","name":"Green Starter","order":9,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n<svg  width=\"105px\" height=\"105px\" version=\"1.1\" \nviewBox=\"0 0 76 76\">\n <g id=\"Button_1\">\n  <rect fill=\"#4B4B4D\" width=\"76\" height=\"76\"/>\n\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#1A1A1A' : '#848688'}\">\n  <polygon stroke=\"black\" stroke-width=\"0.380524\" points=\"72,72 4,72 0,76 76,76 76,0 72,4 \"/>\n    </g>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#848688' : '#1A1A1A'}\">\n  <polygon  points=\"4,4 72,4 76,0 0,0 0,76 4,72 \"/>\n    </g>\n    <g ng-style=\"{stroke: (msg.payload || 0) % 2 === 0 ? '#E6E7E8' : 'black'}\">\n  <line fill=\"none\" stroke-width=\"0.380524\" x1=\"0\" y1=\"0\" x2=\"4\" y2= \"4\" />\n    </g>\n\n  <circle fill=\"none\" stroke=\"green\" stroke-width=\"1.8\" cx=\"38\" cy=\"38\" r=\"29\"/>\n    <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : 'green'}\">\n      <circle  cx=\"38\" cy=\"38\" r=\"26\" />\n    </g>\n  <polyline fill=\"none\" stroke=\"#D2D3D5\" stroke-width=\"0.380524\" points=\"4,72 4,4 72,4 \"/>\n\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">RUN</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : 'none'}\">\n    <text x=\"37\" y=\"44\" style=\"text-anchor:middle\" font-weight=\"normal\" font-size=\"19.0185\" font-family=\"Droid Sans\">RUN</text>\n  </g>\n </g>\n</svg>\n</md-button>\n\n\n","storeOutMessages":false,"fwdInMessages":false,"x":1136.9999389648438,"y":2933.0000610351562,"wires":[["8754ccec.8b5b4"]]},{"id":"8754ccec.8b5b4","type":"function","z":"9e19a209.787e1","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = true;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1134.8333740234375,"y":2867,"wires":[["bee2c711.303818","63e612ce.f7d12c"]]},{"id":"4132baba.081984","type":"function","z":"9e19a209.787e1","name":"","func":"\nif (msg.payload === true ){\n    msg.payload = false;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1128.8333740234375,"y":2994.0001525878906,"wires":[["63e612ce.f7d12c","bee2c711.303818"]]},{"id":"52d7d907.acc118","type":"ui_template","z":"9e19a209.787e1","group":"48b3780b.fed358","name":"E-Stop","order":0,"width":"4","height":"4","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\"> \n\n\n<svg xmlns=\"http://www.w3.org/2000/svg\" xml:space=\"preserve\" width=\"210px\" height=\"210px\" version=\"1.1\" shape-rendering=\"geometricPrecision\" text-rendering=\"geometricPrecision\" image-rendering=\"optimizeQuality\" fill-rule=\"evenodd\" clip-rule=\"evenodd\"\nviewBox=\"0 0 304 304\"\n xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n <g id=\"Layer_x0020_1\">\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'red' : '#B80000'}\">\n    <circle  stroke=\"#A10000\" stroke-width=\"2.08345\" cx=\"152\" cy=\"152\" r=\"150\"/>\n  </g>\n  <path fill=\"#A10000\" stroke=\"#A10000\" stroke-width=\"4.00037\" d=\"M152 2c83,0 150,67 150,150 0,83 -67,150 -150,150 -83,0 -150,-67 -150,-150 0,-83 67,-150 150,-150zm0 28c67,0 122,55 122,122 0,67 -55,122 -122,122 -67,0 -122,-55 -122,-122 0,-67 55,-122 122,-122z\"/>\n  <path fill=\"#B80000\" stroke=\"#A10000\" stroke-width=\"2.08345\" d=\"M152 2c83,0 150,67 150,150 0,83 -67,150 -150,150 -83,0 -150,-67 -150,-150 0,-83 67,-150 150,-150zm0 13c76,0 137,61 137,137 0,76 -61,137 -137,137 -76,0 -137,-61 -137,-137 0,-76 61,-137 137,-137z\"/>\n\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : '000'}\">\n    <text x=\"150\" y=\"139\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"99.9999\" font-family=\"Arial\">E</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? '#FEFEFE' : '000'}\">\n    <text x=\"155\" y=\"219\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"66.6658\" font-family=\"Arial\">STOP</text>\n  </g>\n \n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"150\" y=\"125\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"50.0\" font-family=\"Arial\">TAP TO</text>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) % 2 === 0 ? 'none' : '#FEFEFE'}\">\n    <text x=\"152\" y=\"215\"  style=\"text-anchor:middle\" font-weight=\"bold\" font-size=\"50.0\" font-family=\"Arial\">RESET</text>\n  </g>\n\n\n\n </g>\n</svg>\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"x":190,"y":2700,"wires":[["869fdd0b.2addb"]]},{"id":"869fdd0b.2addb","type":"function","z":"9e19a209.787e1","name":"","func":"\nif (msg.payload === false ){\n    msg.payload = true;\n}\nelse { msg.payload = false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":189,"y":2631,"wires":[["52d7d907.acc118"]]},{"id":"57e284fa.7e58bc","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"available","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2240,"wires":[["eb0932f.cb727d"]]},{"id":"5f377e10.f3f08","type":"inject","z":"9e19a209.787e1","name":"Station 2 - Module1","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":180,"y":2185,"wires":[["7fa2b38e.5636fc"]]},{"id":"e67f7ddd.6e871","type":"function","z":"9e19a209.787e1","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"x":165,"y":2285,"wires":[["57e284fa.7e58bc"],["7fa2b38e.5636fc"]]},{"id":"7fa2b38e.5636fc","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"absent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2285,"wires":[["eb0932f.cb727d"]]},{"id":"eb0932f.cb727d","type":"ui_template","z":"9e19a209.787e1","group":"393c8596.4ca5ca","name":"red#c0392b","order":1,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.colour}}\" ng-click=\"send({payload: 'Pressed'})\"> \n    Module 1<br/>{{msg.payload}}\n</md-button> \n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":540,"y":2325,"wires":[["e67f7ddd.6e871"]]},{"id":"66f5560a.60c048","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"available","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2420,"wires":[["3f796fb7.e63bb"]]},{"id":"8a0e2a5e.e031d8","type":"inject","z":"9e19a209.787e1","name":"Station 2 - Module2","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":200,"y":2365,"wires":[["d768f0dd.f3faf"]]},{"id":"338337bf.bcf828","type":"function","z":"9e19a209.787e1","name":"state","func":"var state = context.state || false;\nstate = !state;\ncontext.state = state;\nif (state) { return [msg,null]; }\nelse { return [null,msg]; }\n","outputs":2,"noerr":0,"x":185,"y":2465,"wires":[["66f5560a.60c048"],["d768f0dd.f3faf"]]},{"id":"d768f0dd.f3faf","type":"change","z":"9e19a209.787e1","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"absent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2465,"wires":[["3f796fb7.e63bb"]]},{"id":"3f796fb7.e63bb","type":"ui_template","z":"9e19a209.787e1","group":"393c8596.4ca5ca","name":"red#c0392b","order":1,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:{{msg.colour}}\" ng-click=\"send({payload: 'Pressed'})\"> \n    Module 2<br/>{{msg.payload}}\n</md-button> \n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":560,"y":2505,"wires":[["338337bf.bcf828"]]}]